<% extend("master.ejs") %>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <!-- <h1 class="h3 mb-0 text-gray-800">Update doctor information</h1> -->
    <h1 class="h3 mb-0 text-gray-800">Cập nhật thông tin bác sĩ</h1>
</div>

<!-- Content Row -->
<div class="row">
    <div class="col-10 mx-auto">
        <form id="formUpdateSupport">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="nameSupporter">Tên</label>
                    <input type="text" class="form-control" id="nameSupporter" name="nameSupporter" placeholder="Name"
                           value="<%= supporter.name %>">
                </div>
                <div class="form-group col-6">
                    <label for="phoneSupporter">Số điện thoại</label>
                    <input type="text" class="form-control" id="phoneSupporter" name="phoneSupporter" placeholder="Phone number"
                           value="<%= supporter.phone %>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="specializationSupporter">Chuyên khoa</label>
                    <select id="specializationSupporter" class="form-control" name="specializationSupporter">
                        <% if(doctor.Doctor_User){ %>
                            <% specializations.forEach(function(x) { %>
                                <option value="<%= x.id %>" <% if(x.id === doctor.Supporter_User.specializationId) {%> selected <%}%>> <%= x.name %> </option>
                            <% }) %>
                           <%} else {%>
                                    <option selected value="-1">Chọn chuyên khoa</option>
                                <% specializations.forEach(function(x) { %>
                                    <option value="<%= x.id %>"> <%= x.name %> </option>
                                <% }) %>
                            <%}%>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="clinicSupporter">Thuộc phòng khám</label>
                    <select id="clinicSupporter" class="form-control" name="clinicSupporter">
                        <% if(doctor.Doctor_User){ %>
                            <% clinics.forEach(function(x) { %>
                                <option value="<%= x.id %>" <% if(x.id === doctor.Supporter_User.clinicId) {%> selected <%}%>> <%= x.name %> </option>
                            <% }) %>
                        <%}else {%>
                                <option selected value="-1">Chọn phòng khám</option>
                            <% clinics.forEach(function(x) { %>
                                    <option value="<%= x.id %>" > <%= x.name %> </option>
                                <% }) %>
                        <%}%>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="addressSupporter">Địa chỉ</label>
                <input type="text" class="form-control" id="addressSupporter" name="addressSupporter" placeholder="Address"
                       value="<%= supporter.address %>">
            </div>
            <div class="form-group">
                <label for="introEditSupporter">Miêu tả</label>
                <textarea id="introEditSupporter" name="introEditSupporter" class="form-control"> <%= doctor.description %>  </textarea>
            </div>

            <div class="form-group">
                <label for="image-clinic">Cập nhật ảnh đại diện</label>
                <input type="file" id="image-clinic" accept="image/*" onchange="loadFile(event)">
            </div>

            <div class="form-group">
                <% if(doctor.avatar) { %>
                    <img class="img-preview-clinic-create" id="image-preview" src="/images/users/<%= supporter.avatar %>">
                <% } else { %>
                    <img class="img-preview-clinic-create d-none" id="image-preview">
                <% } %>
            </div>

            <button type="button" class="btn btn-primary" id="btnUpdateSupporter" data-doctor-id="<%= Supporter.id %>">Cập nhật</button>
        </form>
    </div>

</div>

<script>
    $(document).ready(function() {
        $("div #featureManage").addClass('show');
        $("div #featureManage").find($("#aManageSupporter")).addClass("active");
    })
</script>
